## This notebook is to find stars under 9' from 0855 -- our promising candidate

In [41]:
import pandas as pd
import numpy as np

from PyAstronomy import pyasl

In [42]:
df = pd.read_csv('irsa_catalog_search_results_tbl.csv')

In [43]:
#filter all stars dimmer than j-band mag of 9
under_09_mag = df['j_m'] < 9
df = df[under_09_mag]

In [44]:
#check distances for each star

#coords used for 2MASS
ra = 133.770952
dec = -7.243109

distance_array = list()
for i in range(len(df)):
    theta = pyasl.getAngDist(ra, dec, list(df['ra'])[i], list(df['dec'])[i])
    
    #convert from radians to arcminutes
    theta *= (2 * np.pi * (1 / 360)) * 206264 * (1 / 60)
    
    distance_array.append(theta)

In [45]:
#now make a df including the ra, dec, mag of background star
df_bright = pd.DataFrame(_ , columns=['ra', 'dec', 'sep', 'mag'])

df_bright['ra'] = df['ra']
df_bright['dec'] = df['dec']
df_bright['sep'] = distance_array
df_bright['mag'] = df['j_m']

In [46]:
df

,ra,dec,err_maj,err_min,err_ang,designation,j_m,j_cmsig,j_msigcom,j_snr,...,ph_qual,rd_flg,bl_flg,cc_flg,ndet,gal_contam,mp_flg,j_h,h_k,j_k
93,133.681579,-7.298830,0.06,0.06,90,08544357-0717557,8.829,0.013,0.021,10985.8,...,AAA,111,111,000,666666,0,0,0.4570,0.1330,0.5900
350,133.569988,-6.992185,0.07,0.07,90,08541679-0659318,8.443,0.015,0.023,15143.6,...,AAA,111,111,000,666656,0,0,0.4290,0.0940,0.5230
364,133.497762,-6.999518,0.06,0.06,90,08535946-0659582,8.161,0.017,0.024,21039.2,...,AAA,111,111,000,666666,0,0,0.4450,0.1740,0.6190
998,133.854689,-7.115917,0.07,0.06,0,08552512-0706573,8.582,0.007,0.018,13792.1,...,AAA,111,111,000,666666,0,0,0.4890,0.1500,0.6390
1058,133.652544,-7.372391,0.06,0.06,90,08543661-0722206,6.385,0.009,0.019,104335.0,...,AAA,111,111,000,666666,0,0,0.6170,0.2170,0.8340
1148,133.496042,-7.517597,0.06,0.06,0,08535905-0731033,8.903,0.015,0.023,10622.6,...,AAA,112,111,000,666666,0,0,0.1430,0.0310,0.1740

In [47]:
df_bright = df_bright.drop([350, 364, 1148])
df_bright

              ra       dec        sep    mag
93    133.681579 -7.298830   6.282643  8.829
998   133.854689 -7.115917   9.115259  8.582
1058  133.652544 -7.372391  10.479786  6.385